$lottie-icon-background-color: var(--color-primary, #000) !default;
$lottie-icon-color: var(--color-primary-contrasting, #fff) !default;

.lottie-animation {
    display: grid;
    
    .lottie-container {
        position: relative;

        .lottie-play-button {
            display: block;
        }

        .lottie-pause-button {
            display: none;
        }
    
        .lottie-play-button, 
        .lottie-pause-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            cursor: pointer;
            color: $lottie-icon-color;
            background-color: $lottie-icon-background-color;
            border-radius: 50%;
        }
    
        &:hover {
            .lottie-pause-button {
                display: block;
            }
        }
    }
}
